* {
    margin: 0;
}

body{
    text-align: center;
    background-color: white;
    font-family: 'Montserrat';
    font-size: 17px;
}

header{
    display: flex;
    background-color: rgb(44, 44, 84);
    color: white;
    box-shadow: 0 0 12px 4px #1C1C35;
    margin-bottom: 2em;
}

section {
    width: 70%;
    margin: 0 auto;
    padding: 2em;    
}

section h1{ 
    margin-bottom: 1em;
}

section h2{ 
    margin: 1em 0;
}

a {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: BioRhyme;
    font-weight: bolder;
    font-size: 35px;
    letter-spacing: .2em;
    text-transform: uppercase;
    color:#2C2C54;
}

h2 {
    font-family: BioRhyme;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #2C2C54;
}

.regular-showcase {
    margin: 1em 0;
}


.left {
    text-align: left;
}

.navbar{
    width: 100%;
    padding: 20px;
    text-align: right;
}
.navbar li{
    list-style: none;
    display: inline-block; 
    font-size: 16px; 
    margin: 10px;
}

.navbar a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.navbar a:hover{
    text-decoration: none;
    font-weight: bold;
    color: #F49D6E;
}

.logo{
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
    border: 2px solid white;
    margin: auto 10px;
    letter-spacing: 2px;
    color: white;
}

.biorhyme {
    font-family: 'Bio Rhyme', serif;

}

.fontshow {
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    padding: 10px;
    border: 3px dashed #A40E4C;
    color: #2C2C54;
    text-transform: none;
}

#fonts p{
    font-size: 18px;
    margin: 8px;
}

article{
    display: inline-block;
    margin: 40px;
}

.bold {
 font-weight: bold;
}

.italic {
 font-style: italic;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.color-box{
    display: inline-block;
    margin: 30px;
    width: 200px;
    height: 200px;
}

.cbox-content {
    padding: 70px 0;
    font-weight: bold;
}

.cbox-content p{
    margin-bottom: 5px;
}

.space-cadet{
    background-color: #2C2C54;
    color: #F49D6E;
}

.laurel-green {
    background-color: #ACC3A6;
    color: #A40E4C;
}

.peach-puff {
    background-color: #F5D6BA;
    color: #A40E4C;
}

.atomic-tangerine {
    background-color: #F49D6E;
    color: #2C2C54;
}

.amaranth-purple{
    background-color: #A40E4C;
    color: #ACC3A6;
}

.content-wrapper {
    background-color: rgb(245, 245, 245, .9);
    border: 1px solid slategrey;
    box-shadow: 0 0 1em #2C2C54;
}

.text-content {
    padding: 3em;
}

.btn {
    padding: 20px;
    border: none;
    text-decoration: none;
    font-size: 16px;
}

.primary {
    background-color: #2C2C54;
    color: #F49D6E;

}
.primary:hover{
    background-color: #F49D6E;
    color: #2C2C54;
    box-shadow: 0 0 12px 4px slategrey;
}

.secondary {
    background-color: #A40E4C;
    color: #ACC3A6;
}
.secondary:hover{
    background-color: #ACC3A6;
    color: #A40E4C;
    box-shadow: 0 0 12px 4px slategrey;
}

button {
    margin: 10px;
}

.font-settings li {
    margin-bottom: 4px;
}

footer {
    display: flex;
    margin-top: 50px;
    background-color: #2C2C54;
    padding: 10px;
    color: white;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 30px;
    height: 30px;
    filter: invert(84%) sepia(19%) saturate(282%) hue-rotate(62deg) brightness(88%) contrast(88%);
}