* {
    margin: 0;
}

body{
    text-align: center;
    background-color: #ACC3A6;
    font-family: 'Montserrat';
}

header{
    display: flex;
    background-color: rgb(44, 44, 84);
    color: white;
    box-shadow: 0 0 12px 4px #1C1C35;;
    margin-bottom: 2em;
}

section {
    width: 70%;
    margin: 0 auto;
    padding: 2em;    
}

section h1{ 
    margin-bottom: 1em;
}

.navbar{
    width: 100%;
    padding: 20px;
    text-align: right;
}
.navbar li{
    list-style: none;
    display: inline-block; 
    font-size: 16px; 
    margin: 10px;
}

.navbar a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.navbar a:hover{
    text-decoration: none;
    font-weight: bold;
    color: #F49D6E;
}

.logo{
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
    border: 2px solid white;
    margin: auto 10px;
    letter-spacing: 2px;
}

.biorhyme {
    font-family: 'Bio Rhyme', serif;

}

.fontshow {
    font-size: 18px;
}

#fonts {
    min-width: 460px;
    max-width: 100%;
}

#fonts p{
    font-size: 18px;
}

article{
    display: inline-block;
    margin-right: 4em;
}

.center {
    width: 1024px;
    margin: 0 auto;
}

.bold {
 font-weight: bold;
}

.italic {
 font-style: italic;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.color-box{
    display: inline-block;
    margin: 2em;
    width: 200px;
    height: 200px;
}

.cbox-content {
    padding: 70px 0;
    font-weight: bold;
}

.cbox-content p{
    margin-bottom: 5px;
}

.space-cadet{
    background-color: #2C2C54;
    color: #F49D6E;
}

.laurel-green {
    background-color: #ACC3A6;
    color: #A40E4C;
}

.peach-puff {
    background-color: #F5D6BA;
    color: #A40E4C;
}

.atomic-tangerine {
    background-color: #F49D6E;
    color: #2C2C54;
}

.amaranth-purple{
    background-color: #A40E4C;
    color: #ACC3A6;
}

.content-wrapper {
    background-color: rgb(245, 245, 245, .9);
    border: 1px solid slategrey;
    box-shadow: 0 0 1em #2C2C54;
}